$color-background: #fbfbfc;
$color-header-text: #1b1b1e;
$color-text: #fbfbfc;
$color-navigation-text: #fbfbfc;
$color-active: tomato;
$color-header: #32322f;
$color-subheader: #1e221b;
$color-navigation: #2a4765;
$color-underline: tomato;
$box-background-color: #e5e3e3;
$box-text-color: #707070;
