$color-background: #fbfbfc;
$color-header-text: #1b1b1e;
$color-text: #fbfbfc;
$color-navigation-text: #fbfbfc;
$passed-color: #73A790;
$notPassed-color: #D7B17C;

$color-active: tomato;
$color-header: #32322f;
$color-subheader: #1e221b;
$color-navigation: #2a4765;
$color-underline: tomato;

$box-background-color: #e5e3e3;
$box-text-color: #707070;

$icon-color:#fbfbfc;
$button-hover-color: #73A790;
$button-hover-text: #1b1b1e;
$button-color:#F0EEE3;

//shadows
$box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);