@import "../../resources/variables.scss";
.assignments{
    margin: 0px 200px;
    h1{
        float:left;
        margin-top: -35px;
        margin-left: -10px;
        font-size: 30px;
        color: $color-header-text;
    }
    .assignmentboxes{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
.quizes{
    margin: 100px 200px;
    h1{
        float:left;
        margin-top: -40px;
        margin-left: -10px;
        font-size: 30px;
        color: $color-header-text;
    }
    .quizboxes{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
