@import "../../../resources/variables.scss";
$passed-color: #73A790;
$notPassed-color: #D7B17C;


.assignment{
    h4{
        color: $color-header-text;
        font-weight: 1000;        
        margin: 10px 0 0 10px;
    }
.assignmentBox{
    width:250px;
    height:180px;
    margin:30px 0 10px;
    background-color: $box-background-color;
    border-radius: 10px 10px 10px 10px; 
    box-shadow: $box-shadow;

    .passed{
        h2{float: left;
            margin: 30px 82px 20px;
            color: $passed-color;
        }
    }
    .notPassed{
        h2{
            float: left;
            margin: 30px 60px 20px;
            color:$notPassed-color;
        }
    }
    .notSubmitted{
        background-color: $box-background-color;
        h2{
            float: left;
            margin: 30px 42px 20px;
            color: $box-text-color;
        }
    }
    .submitted{
        h2{
            float: left;
            margin: 30px 64px 20px;
            color: $box-text-color;
        }
    }

    .assigInfo{
        margin:0px 30px 0px;
        color: $box-text-color;
        
        .duration{
            margin-top:20px;
            p{
                font-weight: 100;        

            }

        }
    } 
}
}
 