@import "../../../resources/variables.scss";

.assignmentBox{
    width:250px;
    height:180px;
    margin:10px 0;
    background-color: lightgray;
    border-radius: 10px 10px 10px 10px; 




    h2{
        float: left;
        margin: 75px 30px;
    }
 
    
}