@import "../../resources/variables.scss";

$navigation-width: 14%;

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: $navigation-width;

  background-color: $color-navigation;
  z-index: 10000;
  .logo {
   
    display: flex;
    flex-flow: column;
    .profileCirkle {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      background-color: gray;
      .profileImage{
        width:70px;
      }
    }
    .text {
      color: $color-text;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;

      h4 {
        margin: 2px;
      }
    }
  }
  .menu {
    a {
      display: inline-block;
      padding: 0 30px;
      font-size: 1rem;
      color: $color-navigation-text;

      &:hover {
        color: $color-underline;
      }
    }
    .active {
      color: $color-active;
      font-weight: bold;
    }
  }
}
