@import "../../resources/variables.scss";
.forum {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  margin: 0 14%;
  height: auto;

  > div {
    padding: 0px;
  }
  .forums {
    grid-column: 1 / 5;
  }
}


