@import "../../resources/variables.scss";
.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 10%;
  //grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  margin: 0 14%; // 0 14% - j
  height: auto;

  > div {
    padding: 0px;
  }
  .item1 {
    grid-column: 1 / 5;
  }

  .item2 {
    grid-column: 5/5;
  }
}
