@import "../../../resources/variables.scss";
$right-side-width: 100%;
$left-side-width: 100%;
.coursePage {
  margin: 30px 14%;
 
  .courseName {
    padding: 30px 30px;
    text-align: left;
  }
  .coursePage-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    .course-info {
      margin: 0;
    }
    .right {
      display: flex;
      flex-flow: column;
      .calendar-box {
        height: 300px;
        background-color: $box-background-color;
        border-radius: 10px;
        box-shadow: $box-shadow;
        margin: 0 0 40px 0;
      }
      .news {
        height: 300px;
        border-radius: 10px;
        box-shadow: $box-shadow;
        background-color: $box-background-color;
        h2 {
          float: left;
          margin: 20px;
          text-align: left;
          color: $color-header-text;
          font-size: 13;
        }
      }
    }
  }
}
