@import "../../../resources/variables.scss";

.submissionX{
    height: 60px;
    width: 100%;
    background-color: $box-background-color;
    border-radius: 10px;
    box-shadow: $box-shadow;
    .Up-container{
        display:flex;
        flex-wrap: row;
        .deadline{
            margin-left: 60px;
            h3{
                color:$color-header-text;
            }
        }
        .handIn{
            margin-left: 25px;
            margin-top: 0px;
            font-size: 1.5em;

            .handI{
                color: $box-text-color;
            }
               
            }
        }
  
        .passed{
            h2{
                color: $passed-color;
                font-weight: 400;
            }
        }
        .notPassed{
            h2{
                color:$notPassed-color;
                font-weight: 400;
            }
        }
        .notSubmitted{
            h2{
                color: $box-text-color;
                font-weight: 400;
            }
        }
        .submitted{
            h2{
                color: $box-text-color;
                font-weight: 400;
            }
        }

    

}