@import "../../resources/variables.scss";
.isSignedIn {
  height: 300px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  img {
    margin: 10px 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }
  h4 {
    color: $color-navigation-text;
  }
  .sign-out-button {
    border-radius: 10px;
    display: inline-block;
    background-color: $button-color;
    box-shadow: $box-shadow;
    cursor: pointer;
    &:hover {
      background-color: $button-hover-color;
      color: $button-hover-text;
    }
   
  }
}
.notSignedIn {
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  .login-button{
    border-radius: 10px;
    display: inline-block;
    background-color: $button-color;
    box-shadow: $box-shadow;
    cursor: pointer;
    &:hover {
      background-color: $button-hover-color;
      color: $button-hover-text;
    }
  }
  .insidePopUp{
    h2{
      color:black;

    }
  }
}
