@import "../../../resources/variables.scss";

.courseBox {
  position: relative;
  width: 300px;
  height: 320px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: $box-background-color;
  box-shadow: $box-shadow;
  .box {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  &:hover {
    .box {
      transition: 0.4s ease-out;
      filter: brightness(50%);
      background-color: rgba(128, 128, 128, 0.603);
      border-radius: 10px;
    }

    .open {
      transition: 0.2s ease-out;
      position: absolute;
      top: 35%;
      justify-content: center;
      opacity: 1;

      right: 0;
      width: 100%;
      h2 {
        font-size: 1.5rem;
        color: white;
        text-align: center;
        box-shadow: $box-shadow;
      }
    }
  }
  .open {
    opacity: 0;
  }
  .imageBox {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    background-color: white;

    img {
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
    }
  }
  .newCourseBox {
    display: flex;
    justify-content: center;
    background-color: #0f9814;
    color: white;
    height: 25px;
    width: 60px;
    margin: -13% 0 0 4%;
    position: relative;
    box-shadow: $box-shadow;
    h4 {
      font-size: 16px;
    }
  }

  .hp {
    display: flex;
    color: #1f1f1f;
    float: right;
    align-items: center;
    margin: 10px;
    .graduationCap {
      margin: 0 5px;
    }
  }

  h2 {
    color: #1f1f1f;
    float: left;
    text-align: left;
    width: 66%;
    font-size: 1rem;
    margin: 10px 0 0 10px;
  }
  p {
    color: $box-text-color;
    margin: 0 10px 0 10px;
    font-size: 0.8rem;
    float: left;
    text-align: left;
  }
  .participants {
    position: absolute;
    bottom: 0px;
    display: flex;
    color: #1f1f1f;
    float: left;
    align-items: center;
    margin: 10px;
    .peopleicon {
      margin: 5px;
    }
  }
  .progressBar {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 40px;
    margin: 10px;
  }
}
